:host {
  display: flex;
  min-height: 100vh;
  width: 100%;
}

.main {
  margin-left: var(--sidebar-w);
  margin-top: 64px;
  flex: 1;
  display: flex;
  flex-direction: column;
  //min-height: 100vh;
}

.content {
  padding: 28px 32px 40px;
  flex: 1;

  @media (max-width: 769px) {
    padding: 16px;
  }
}

.content-login {
  width: 100%;
}


.sidebar-overlay {
  position: fixed;
  inset: 0;
  background: rgba(11, 30, 69, 0.45);
  z-index: 99;
}

.main {
  transition: all .25s ease;
}

.main.main-full {
  margin-left: 0;
}

app-sidebar.sidebar-hidden {
  display: none;
}

@media (max-width: 1025px) {
  .main {
    margin-left: 0 !important;
  }
  app-sidebar {
    position: fixed;
    z-index: 100;
  }
}